.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s;
  width: 300px; 
  height: 400px;
  -webkit-box-shadow: 1px 1px 19px 2px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 1px 1px 19px 2px rgba(0, 0, 0, 0.17);
  box-shadow: 1px 1px 19px 2px rgba(0, 0, 0, 0.17);
  border-radius: 15px;

  &:hover {
    -webkit-box-shadow: 1px 8px 13px 2px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 1px 8px 13px 2px rgba(0, 0, 0, 0.44);
    box-shadow: 1px 8px 13px 2px rgba(0, 0, 0, 0.44);
    cursor: pointer;
  }

  &__interactive {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 15px 20px 15px;
  }

  &__picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  &__image {
    overflow: hidden;
  }

  &__about {
    text-align: left;
    padding:  0 10px;
    margin: 20px 0;
    width: 290px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__like {
    width: 25px;
    &:hover {
      cursor: pointer;
    }
  }

  &__id {
    color: #ccc;
    padding: 20px 0;
  }

  &__garbage {
    width: 25px;
    &:hover {
      cursor: pointer;
    }
  }
}
